<h1>All Participations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Challenge</th>
      <th>Joined At</th>
      <th>Total Points</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @participations.each do |p| %>
      <tr>
        <td><%= p.user.name %></td>
        <td><%= p.challenge.title %></td>
        <td><%= p.joined_at %></td>
        <td><%= p.total_points %></td>
        <td><%= p.status %></td>
        <td><%= link_to 'Show', participation_path(p), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
