<h1>Progress Entry Details</h1>

<p><strong>User:</strong> <%= @progress_entry.participation.user.name %></p>
<p><strong>Challenge:</strong> <%= @progress_entry.participation.challenge.title %></p>
<p><strong>Exercise:</strong> <%= @progress_entry.exercise.name %></p>
<p><strong>Value:</strong> <%= @progress_entry.metric_value %> <%= @progress_entry.exercise.unit %></p>
<p><strong>Points:</strong> <%= @progress_entry.points %></p>
<p><strong>Date:</strong> <%= @progress_entry.entry_date %></p>

<%= link_to "Back", progress_entries_path, class: "btn btn-secondary" %>
<% if can? :edit, @progress_entry %>
  <%= link_to "Edit", edit_progress_entry_path(@progress_entry), class: "btn btn-warning" %>
<% end %>
